/*----RESET----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
/*variaveis*/
:root {
  --header-height: 4.5rem;


/***fonts***/
--title-font-size: 1.875rem;
--subtitle-font-size: 1rem;

--title-font:'Poppins', sans-serif;
--body-font: 'Open Sans', sans-serif;
}

/*base*/
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font)
}