body {
  background: linear-gradient(to right,#1D976C #93F9B9);
  padding: 0;
  margin: 0;
  color: #e31313;
  font-family: 'Epilogue', sans-serif;
}

h1{
  font-family: 'Epilogue', sans-serif;
  font-size: 25px;
}

h2 {
  font-family: 'Epilogue', sans-serif;
  font-size: 14px;
  line-height: 32px;
  width: 431px;
  text-align: justify;
}

